/* Общие стили */
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: black; /* Изменено на черный цвет текста */
    background-color: #a5a5a3; /* Изменено на бежевый фон */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/* Заголовки */
h1, h2, h3 {
    color: black;
    font-weight: bold;
}

/* Навигация */
.nav-container {
    width: 100%;
    margin: 0 auto;
}

.main-nav {
    display: flex;
    justify-content: space-around; /* Равномерное распределение секций */
    align-items: center;
    height: 60px;
    background-color: #333;
    width: 100%; /* Изменено на 100% */
    padding: 0 20px;
    box-sizing: border-box;
}

.nav-section {
    text-align: center;
    padding: 0 15px; /* Уменьшено для равномерного промежутка */
    position: relative;
    flex: 1; /* Равномерное распределение ширины */
}

.nav-section:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 50%;
    width: 2px;
    background-color: #4d4d4d; /* Чуть светлее фона блока навигации */
}

.nav-section a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px 20px;
    text-align: center; /* Центрирование текста */
    box-sizing: border-box; /* Включаем padding и border в размеры элемента */
    margin: 0 5px; /* Добавлено для равномерного промежутка */
}

.nav-section a:hover {
    text-decoration: underline;
}

.nav-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.7); /* Обводка чуть светлее черного */
    border-radius: 8px; /* Закругленные углы */
    background: transparent; /* Прозрачный фон */
    padding: 5px; /* Внутренний отступ */
}

.nav-toggle span {
    background: rgb(0, 0, 0);
    height: 3px;
    width: 25px;
    margin: 4px 0;
    transition: 0.4s;
}

.site-title {
    margin-left: 50px; /* Добавьте отступ слева, чтобы заголовок не наезжал на кнопку */
}

/* Кнопка для возврата наверх */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Разделы с фоновыми изображениями */
.about, .projects, .stage-of-work, .contacts {
    padding: 50px 0;
    color: white;
    background-size: cover;
    background-position: center;
}

.about {
    background-image: url('Pictures/about-bg.jpg');
}

.projects {
    background-image: url('Pictures/projects-bg.jpg');
}

.stage-of-work {
    background-image: url('Pictures/stage-bg.jpg');
}

.contacts {
    background-image: url('Pictures/contacts-bg.jpg');
}

/* Секция "О нас" */
.about {
    background: #f9f9f9;
    padding: 2rem 0;
    text-align: center;
    color: #333;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
}

.about-steps {
    list-style: none;
    padding: 0;
    margin: 0;
}

.about-steps li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Общие стили для иконок и деталей шагов */
.step-icon {
    flex-shrink: 0;
    margin-right: 1rem;
}

.step-icon img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.step-details {
    flex-grow: 1;
}

.step-details h3 {
    font-size: 1.5rem;
    color: #444;
    margin: 0;
    margin-bottom: 0.5rem;
}

.step-details p {
    font-size: 1rem;
    color: #666;
}

/* Проекты */
.projects {
    background: #f9f9f9;
    padding: 2rem 0;
    text-align: center;
    color: #333;
}

.projects p {
    text-align: left;
    font-size: 1rem;
    color: #333;
}

.project-selection {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Сетка в 3 столбца */
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.project-thumbnail {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.project-thumbnail img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.project-thumbnail:hover {
    transform: scale(1.05);
}

/* Этапы работы */
.stage-of-work {
    background: #f9f9f9;
    padding: 2rem 0;
    text-align: center;
    color: #333;
}

.stage-of-work h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
}

.work-steps {
    list-style: none;
    padding: 0;
    margin: 0;
}

.work-steps li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Контакты */
.contacts ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.contacts li {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contacts a {
    color: #444;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex; /* Изменено на flex для вертикального центрирования */
    align-items: center; /* Вертикальное центрирование текста */
    justify-content: center; /* Горизонтальное центрирование текста */
    padding: 10px;
}

.contacts a:hover {
    background-color: #f4f4f4;
    border-radius: 5px;
}

/* Адаптивность */
/*@media (max-width: 1024px) {
    .container {
        width: 95%;
    }

    .main-nav {
        flex-direction: column;
        height: auto;
        align-items: center; /* Центрирование кнопок
    }

    .nav-section {
        width: 100%;
        padding: 10px 0;
        display: flex;
        justify-content: center; /* Центрирование кнопок
    }

    .project-thumbnail {
        width: 250px;
    }
}
*/
@media (max-width: 768px) {
    .nav-toggle {
        display: flex;
        position: absolute;
        top: 25px;
        left: 10px;
    }

    .site-title {
        margin-left: 60px; /* Увеличьте отступ для мобильных устройств */
    }

    .main-nav {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        display: none;
    }

    .main-nav.active {
        display: flex;
    }

    .nav-section {
        width: 100%;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .nav-section:not(:first-child)::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        width: 90%;
        background-color: #4d4d4d; /* Чуть светлее фона блока навигации */
    }

    .nav-section a {
        padding: 10px 20px;
    }

    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .about-photo {
        width: 200px;
    }

    .about-details {
        text-align: center;
    }

    .work-steps li {
        flex-direction: column;
        align-items: center;
    }

    .project-selection {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .project-thumbnail {
        width: 200px;
        height: auto;
        cursor: pointer;
        transition: transform 0.3s ease, opacity 0.3s ease;
        border-radius: 5px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .project-thumbnail:hover {
        transform: scale(1.05);  /* Лёгкое увеличение при наведении */
        opacity: 0.8;  /* Уменьшение прозрачности при наведении */
    }
}

@media (max-width: 480px) {
    .container {
        width: 100%;
    }

    .main-nav {
        flex-direction: column;
    }

    .nav-section {
        width: 100%;
        padding: 5px 0;
    }

    .about h2, .stage-of-work h2 {
        font-size: 1.5rem;
    }

    .project-thumbnail {
        width: 150px;
    }

    .contacts a {
        font-size: 1rem;
    }
}

/* Стили для контейнера всех изображений проекта */
.project-images-overlay {
    display: none; /* Скрываем контейнер по умолчанию */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); /* Темный полупрозрачный фон */
    z-index: 1000; /* Поверх всех элементов */
    flex-direction: column;
}

.project-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.project-image {
    width: 200px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.project-image:hover {
    transform: scale(1.05);
}

/* Стили для кнопки закрытия контейнера изображений проекта */
.project-images-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.project-nav-zone {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15%;
    cursor: pointer;
    z-index: 5;
    transition: background 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-nav-zone-left {
    left: 0;
}

.project-nav-zone-right {
    right: 0;
}

.project-nav-zone:hover {
    background: rgba(255, 255, 255, 0.1); /* Подсветка при наведении */
}

.full-image-overlay {
    display: none; /* Скрываем контейнер по умолчанию */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); /* Темный полупрозрачный фон */
    z-index: 1000; /* Поверх всех элементов */
}

.full-image-overlay img {
    max-width: 90%;
    max-height: 90%;
}

.full-image-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.full-image-nav-zone {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15%;
    cursor: pointer;
    z-index: 5;
    transition: background 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-image-nav-zone-left {
    left: 0;
}

.full-image-nav-zone-right {
    right: 0;
}

.full-image-nav-zone:hover {
    background: rgba(255, 255, 255, 0.1); /* Подсветка при наведении */
}

.nav-arrow {
    font-size: 2rem;
    color: white;
}